<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center">Welcome to My Portfolio</h1>

  <div class="mt-4">
    <p class="text-center">
      Hej! Jag heter Shayan Ghefouri, som just nu studerar till Javautvecklare på Nackademin, en tvåårig yrkeshögskola.
      Mitt intresse för problemlösning har alltid varit en stark drivkraft och det är också det som fick mig att välja en karriär inom IT-branschen.
      Under utbildningen har jag fått lära mig många viktiga ämnen inom mjukvaruutveckling, som till exempel Javautveckling,
      objektorienterad programmering (Java), databasteknik (MySQL), funktionell programmering (Kotlin),
      frontend-teknologier (HTML, CSS och JavaScript), samt backend (Java Spring Boot och Rest API).
      Jag har även fördjupat mig i IT-säkerhet och DevOps (Docker, CI/CD).

      Jag älskar att ständigt lära mig nya saker och tekniker för att bli ännu bättre inom det jag gör.
    </p>
  </div>

  <div class="text-center mt-4">
    <a href="/personal-info" class="btn btn-primary">Personal Information</a>
    <a href="/education" class="btn btn-success">Education</a>
    <a href="/experience" class="btn btn-info">Experience</a>
    <a href="/projects" class="btn btn-warning">Projects</a>
    <a href="/social-links" class="btn btn-danger">Social Links</a>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
